<div class="container">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Technology</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Cloudfront</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kaltura</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Google Analytics</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>4</td>
            <td>s3.amazonaws.com</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>5</td>
            <td>Health Fleet Domain</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>6</td>
            <td>Zillion Domain</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>7</td>
            <td>Survery Gizmo</td>
            <td><span class="label label-danger"> Fail </span><span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>8</td>
            <td>Typekit</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Addlive</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        <tr>
            <td>10</td>
            <td>Real Appeal Domain</td>
            <td><span class="label label-danger"> Fail </span> <span class="label label-success"> Pass </span></td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-success glyphicon glyphicon-play" ng-click="runTest()"> Start</button>
    <button class="btn btn-primary glyphicon glyphicon-download-alt" ng-csv="getArray()"
            csv-header="['#', 'Technology','Pass / Fail' ]" filename="browserTest.csv"> Export
    </button>
</div>
<br/>
<div class="container alert alert-dismissible alert-warning">
    <div> Debug Logging:</div>
    <ul>
        <li ng-repeat="assetResponse in runTest.assetResponses">
            {{assetResponse.config.url}} loaded with status code {{assetResponse.status}};
        </li>
    </ul>
</div>

</div>