<div class="container">
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Technology</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="asset in FetchAssets.assets">
            <td>{{$index +1}}</td>
            <td>{{asset.name}}</td>
            <td>
                <span ng-if="asset.response === undefined" class="label label-default">Untested</span>
                <span ng-if="asset.response !== undefined && asset.response.status !== 200" class="label label-danger">Fail</span>
                <span ng-if="asset.response !== undefined && asset.response.status === 200" class="label label-success">Pass</span>
            </td>
        </tr>
    </table>
    <button class="btn btn-success glyphicon glyphicon-play" ng-click="FetchAssets.runTest()"> Start</button>
    <button class="btn btn-primary glyphicon glyphicon-download-alt" ng-csv="FetchAssets.assets"
            csv-header="['#', 'Technology','Status' ]" filename="browserTest.csv"> Export
    </button>
</div>
<br/>
<div class="container alert alert-dismissible alert-warning">
    <div> Debug Logging:</div>
    <ul>
        <li ng-repeat="asset in FetchAssets.assetResponses">
            {{asset.response.config.url}} loaded with status code {{asset.response.status}};
        </li>
    </ul>
</div>

<div class="container">
    <button class="btn btn-default glyphicon glyphicon-play" ng-click="video=!video"> Show Video</button>

    <div id="video" ng-show="video">
        <iframe src="http://cdnapi.kaltura.com/html5/html5lib/v2.31.2/mwEmbedFrame.php/p/1846601/uiconf_id/30040881/entry_id/0_bqn6bjbj?wid=_1846601&iframeembed=true&playerId=kaltura_player&entry_id=0_bqn6bjbj"
                width="560" height="315" allowfullscreen webkitallowfullscreen mozAllowFullScreen
                frameborder="0"></iframe>
    </div>

    <button class="btn btn-default glyphicon glyphicon-play" ng-click="quiz=!quiz"> Show Quiz</button>
    <div id="quiz" ng-show="quiz">
        <iframe src="http://www.surveygizmo.com/collab/2174898/test" width="560" height="315"></iframe>
    </div>

</div>


</div>
